@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Kablammo&display=swap');

body {
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
    transform: translateY(500%) ;
    margin: 0;
    background-color: #707079;
}


.menu {
    display: flex;
    gap: 10px; 
}

/* Estilos para los enlaces del menú */
.menu a {
    font-family: Kablammo; /* Aplicar fuente Google Fonts */
    display: inline-block;
    
    background-color: #cf7979; /* Color de fondo inicial */
    color: #a71d1d; /* Color de texto inicial */
    text-decoration: none;
    border-radius: 25px; /* Bordes redondeados */
    font-size: 16px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    text-align: center;

}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: url(icons8-cursor-50.png),auto;
}

nav ul li a:hover {
    background-color:#a71d1d; /* Color de fondo inicial */
    color: #cf7979 ;
    border-radius: 25px;
    
}