*{
    box-sizing: border-box;
}


/* Ejercicio 1 */

body{
    background-image: url(fondo-web.jpg);
}

header,main{
    background-color: #ffffff;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}


/* Ejercicio 2 */
header{
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
}

h1{
    font-family: fantasy;
    letter-spacing: 2px;
    word-spacing: 15px;
    text-shadow: 3px 5px  #ff0000;
}
h2,h3{
    font-family: fantasy;
}

/* Ejercicio 3 */

a{
    text-decoration: none;
    color: #000;
    transition-duration: 3s;
}
   
a:last-child{
    color:#004b69
    
}
a:hover{
    color:#004b69 ;
    font-size: 19px;
    padding: 5px;
    
}

/* Ejercicio 4 */

img{
    width: 200px;
    float: left;
    margin-right: 5px;
    animation: gris 3s infinite;
}

h3 +p::first-letter{
    color: #ff00aa;

}
@keyframes gris {
    0%{
        filter:grayscale(0%)
    }
    50%{
        filter: grayscale(100%);
    }
    100%{
        filter:grayscale(0%)
    }
}

/* Ejercicio 5 */
span{
    font-weight: bold;
    text-transform: uppercase;
}


/* Ejercicio 6 */

input:required{
    background-color: #f58787;
}



/* Ejercicio 7 */
article{
    display: inline-flex;
}
.ficha{
    align-items: stretch;
    flex-basis: 200px;
    border: 1px solid #000;
    margin: 10px;

}
.p2{
    background-color: #f3b5b5;
}
.ficha{
    box-shadow: 1px 1px 15px #000;
}
.ficha:first-child{
    align-items: center;
    background: linear-gradient(#d4d4f5, rgb(255, 165, 180));
}
.ficha:nth-child(2) .p3{
    background-color: #000;
}



/* Ejercicio 8 */



/* Ejercicio 9 */
